/* global */

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* headings */
.page-title {
    text-align: center;
    margin-bottom: 40px;
}


/* dashboard */

.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

/* sorting form */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

/* inventory list */

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-table th, .inventory-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

/* align titles */
.inventory-table td:nth-child(1) {
    width: 50px;
}
.inventory-table td:nth-child(2) {
    width: 200px;
}

/* Action buttons  */
.action-buttons {
    display: flex;
    gap: 5px;
}

/* button formatting */

.btn {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

/* Colors */
.btn-inc {
    background: #28a745;
    color: white;
}

.btn-dec {
    background: #dc3545;
    color: white;
}

.btn-del {
    background: #6c757d;
    color: white;
}

.btn:hover {
    opacity: 0.85;
}

/* add item */

.add-item-container {
    max-width: 400px;
    /*margin: 0 auto;*/
}

/*adding an extra part so two cards scale more evenly */
.top-row .card {
    flex: 1;           
    min-width: 300px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.add-btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background: #007bff;
    color: white;
    border: none;
}


/* changing row, putting the two forms in the same section */
.top-row {
    display: flex;
    gap: 20px;            /* spacing between the two cards */
    align-items: flex-start;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

* {
    box-sizing: border-box;
}

.top-row .card {
    flex: 1;
    min-width: 350px;
}



/* Login Page */



.login-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login-card {
    width: 350px;
    padding: 30px;
}

.login-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-btn {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.85;
}
