<!DOCTYPE html>
<html>
<head>
    <title>Inventory Dashboard</title>

<!-- not styling this on yet, was kind of a hassle-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> --> 
    
</head>
<body>
    <h1>Inventory Dashboard</h1>

    <h3> Change Sort Order </h3>
    
    <form method="GET" action="{{ url_for('index') }}">

        <h4>Sort by:</h4>
        {{ form.csrf_token }}
        <label>
            <input type="radio" name="sort_by" value="item_name" 
                   {% if sort_by == 'item_name' %} checked {% endif %}>
            Item Name
        </label>
        <label>
            <input type="radio" name="sort_by" value="item_quantity" 
                   {% if sort_by == 'item_quantity' %} checked {% endif %}>
            Quantity
        </label>
        <label>
            <input type="radio" name="sort_by" value="id" 
                   {% if sort_by == 'id' %} checked {% endif %}>
            ID
        </label>
        |
        <label>
            <input type="radio" name="order" value="asc" 
                   {% if order == 'asc' %} checked {% endif %}>
            Ascending
        </label>
        <label>
            <input type="radio" name="order" value="desc" 
                   {% if order == 'desc' %} checked {% endif %}>
            Descending
        </label>
        
        <input type="submit" value="Sort">
    </form>



    


   {% if items %}
          <table>
              <tr>
                  <th>ID</th>
                  <th>Item Name</th>
                  <th>Quantity</th>
              </tr>
              {% for id, name, quantity in items %}
              <tr>
                  <td>{{ id }}</td>
                  <td>{{ name }}</td>
                  <td>{{ quantity }}</td>
                  <td>
                      <form action="{{ url_for('increment', item_id=id) }}" method="post" style="display:inline;">
                          <button type="submit">+</button>
                          {{ form.csrf_token }} 
                      </form>
                      
                      <form action="{{ url_for('decrement', item_id=id) }}" method="post" style="display:inline;">
                        <button type="submit">-</button>
                        {{ form.csrf_token }}
                      </form>
                      
                      <form action="{{ url_for('delete_item', item_id=id) }}" method="post">
                        <button type="submit">Delete</button>
                        {{ form.csrf_token }}                    
                      </form>
                  </td>
              </tr>
              {% endfor %}
          </table>
  {% else %}
        <p>No items found in inventory. :( </p>
  {% endif %}

  <h3>Add an item</h3>

  <form method="POST" action="/add_item">
        {{ form.csrf_token }}
        <input type="text" name="item_name" placeholder="Item name" required>
        <input type="number" name="item_quantity" placeholder="Quantity" required>
        <input type="submit" value="Add Item">
  </form>


  <p>Welcome {{session['role']}} {{ session['username'] }}<a href="{{ url_for('logout') }}"> Logout</a></p>

  {% if session['role'] == 'admin' %}
    <p>
      <a href="{{ url_for('enroll') }}"> Enroll other users</a>
    </p>
  {% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
        <p class="{{ category }}">{{ msg }}</p>
    {% endfor %}
  {% endwith %}

</body>
</html>
