<!DOCTYPE html>
<html>
<head>
    <title>Enrollment Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h2 class="page-title">Enrollment Page</h2>


    <div class="login-wrapper">
        <div class="card login-card">
            <form method="post"  class="login-form">
                {{ form.csrf_token }}
                <label>Username:</label><input type="text" name="username" required><br>
                <label>Password:</label><input type="password" name="password" required><br>
                <p>
                    {{ form.role.label }}
                    {{ form.role() }}
                </p>
                <button type="submit" class="btn login-btn">Enroll New User</button>
            </form>

        </div>
    </div>




    <p><a href="{{ url_for('index') }}">Back to Index</a></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endwith %}

</body>
</html>

